<div class="container">
  <div class="about-me-container" id="about-me">
    <img
      class="profile-picture"
      src="images/profile-picture.jpg"
      alt="profile-picture"
      data-aos="zoom-in"
      data-aos-delay="100"
      data-aos-duration="1000"
      data-aos-easing="ease forwards"
      data-aos-offset="100"
      data-aos-once="true"
    />
    <div class="about-me-content">
      <h2>About Me</h2>
      <p
        class="about-me-description"
        data-aos="fade-left"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        I'm Rui Luan (Shirley), currently pursuring a Bachelor's degree in
        Software Engineering at Universiti Tunku Abdul Rahman (UTAR). I
        speacialize in web and mobile app development, with strong focus on data
        mining and cloud computing. I'm constantly exploring new technologies to
        stay at the forefront of innovation. When I'm not coding, I enjoy city
        walks and photography.
      </p>
      <div
        class="contact-info"
        data-aos="fade-up-left"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          +6017-7220 232
        </p>
        <p>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          kuik0224&#64;gmail.com
        </p>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Selangor, Malaysia
        </p>
      </div>
      <div class="cv-button">
        <button mat-raised-button (click)="DownloadCV()">Resume</button>
      </div>
    </div>
  </div>
</div>
