.projects{

    width: 100%;

    .section-title{
        text-align: center;
        font-size: 35px;
    }

    .project-container{

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px;
        width: 90%;

        .images-container{
            position: relative;
            margin: auto;
            text-align: center;
            width: auto;
            border-radius: 15px;
            box-shadow: 0 8px 16px #c2c7c7;

            img{
                display: none;
                border-radius: 15px;
            }

            img.image-active{
                display: block;
                width: 100%;
                height: auto;
            }

            .fade{
                animation-name: fade;
                animation-duration: 1s;
            }

            @keyframes fade{
                from{
                    opacity: 0.4;
                }
                to{
                    opacity: 1;
                }
            }
            .carousel-dot-container{
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                padding: 0;
                margin-bottom: 1rem;
    
                .dot{
                    cursor: pointer;
                    height: 10px;
                    width: 10px;
                    margin: 4px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: inline-block;
                    transition: opacity 0.6s ease;
                    opacity: 0.5;
                }
    
                .active,
                .dot:hover{
                    opacity: 1;
                }
            }
        }

        .text-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 60%;
            margin: 50px 100px;

            h2{

            }

            p{
                text-align: justify;
            }

            h3{

            }

            .tools{
                display: flex;
                flex-direction: row;

                .tools-tag{
                    border-radius: 10px;
                    background-color: rgb(232, 200, 237);
                    padding: 5px;
                    margin: 5px;
                }
            }
        }


    }
}