.projects{
    height: 1100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .section-title{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        word-spacing: 10px;
    }

    .project-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 20px;
        width: 90%;

        .images-container{
            position: relative;
            margin: auto;
            text-align: center;
            width: auto;
            border-radius: 15px;
            box-shadow: 0 8px 16px #c2c7c7;

            img{
                display: none;
                border-radius: 15px;
            }

            img.image-active{
                display: block;
                width: 100%;
                height: auto;
            }

            .fade{
                animation-name: fade;
                animation-duration: 1s;
            }

            @keyframes fade{
                from{
                    opacity: 0.4;
                }
                to{
                    opacity: 1;
                }
            }
            .carousel-dot-container{
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                padding: 0;
                margin-bottom: 1rem;
    
                .dot{
                    cursor: pointer;
                    height: 10px;
                    width: 10px;
                    margin: 4px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: inline-block;
                    transition: opacity 0.6s ease;
                    opacity: 0.5;
                }
    
                .active,
                .dot:hover{
                    opacity: 1;
                }
            }
        }

        .text-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 40%;
            margin: 50px 100px;

            h2{
                font-size: 20px;
                text-decoration: underline;
                text-align: center;
            }

            p{
                text-align: justify;
            }

            h3{
                font-size: 18px;
                font-weight: 550;
                text-align: center;
            }

            .tools{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .tools-tag{
                    border-radius: 10px;
                    background-color: #cabfad;
                    padding: 5px;
                    margin: 5px;
                }
            }
        }


    }

    .project-container:nth-child(odd) .images-container {
        order: 1;
      }

    .project-container:nth-child(odd) .text-container {
        order: 2;
        padding-left: 20px;
      }

    .project-container:nth-child(even) {
        flex-direction: row-reverse;
      }
      
    .project-container:nth-child(even) .images-container {
        order: 1;
      }

    .project-container:nth-child(even) .text-container {
        order: 2;
        padding-right: 20px;
      }

    .github-link{
        text-align: center;
        a{
            font-weight: 600;
            color: #0f2455c0;
        }
    }
}