<div class="projects" id="projects">
    <div>
        <h2>Featured Projects</h2>
        <!--Show section by section (in vertical flex direction)
        images with slider
        brief description
        list out the languages and tools used-->
        <ul>
            <li>EzPz Event Planner App</li>
            <li>Watsis Personal Care Marketplace</li>
            <li>Personal Portfolio</li>
        </ul>
        <p>To view more, visit my <a href="www.github.com">Github</a></p>
    </div>
</div>