<div class="top-nav-bar-container">
    <a href="#" class = "logo">
        <img src="favicon.png"> 
        <span class="name">{{displayText}}</span>
    </a>
    <div id="menu" class="fa fa-bars" *ngIf="!collapsed" (click)="toggleCollapse()"></div>
    <div id="menu" class="fa fa-times" *ngIf="collapsed" (click)="closeSidenav()"></div>
    
    <nav [ngClass]="{'collapsed': collapsed}" class="top-nav-bar-buttons">
        <ul class="nav-buttons">
            <li>
                <a href="#home" (click)="setActive('home'); closeSidenav()">Home</a>
            </li>
            <li>
                <a href="#about-me" (click)="setActive('about-me'); closeSidenav()">About Me</a> 
            </li>
            <li>
                <a href="#skills" (click)="setActive('skills'); closeSidenav()">Skills</a>
            </li>
            <li>
                <a href="#projects" (click)="setActive('projects'); closeSidenav()">Past Projects</a>
            </li>
            <li>
                <a href="#contact" (click)="setActive('contact'); closeSidenav()">Contact</a>
            </li>
        </ul>
    </nav>
</div>