.top-nav-bar-container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #efece9;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 50px;
    margin: 0 15px;
}

.logo .name{
    color: #7d91a6;
    font-size: 23px;
    font-weight: 800;
    font-family: Doto;
}

.top-nav-bar-buttons{
    justify-content: flex-end;
}

.nav-buttons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    background-color: #efece9;
    padding: 0;
    margin: 0;
}

.nav-buttons li{
    margin-left: 10px;
}

.nav-buttons li a{
    display: flex;
    color: #7d91a6;
    font-size: 15px;
    font-weight: bold;
    padding: 25px 25px;
    text-decoration: none;
}

.nav-buttons li a:hover,
.nav-buttons li a.active{
    color: #465169;
    border-bottom: 0.2rem solid #465169;
    padding-bottom: 10px;
}
