<div class="skills-container">
  <h2>- My Skills -</h2>
  <h3>Languages</h3>
  <div class="skills-icons-in-row">
    <div class="skills-icon-name" *ngFor="let language of languages">
      <img [src]="language.imageSrc" [alt]="language.name" />
      <p>{{ language.name }}</p>
    </div>
  </div>

  <h3>Tools & Framework</h3>
  <div class="skills-icons-in-row">
    <div class="skills-icon-name" *ngFor="let tool of tools">
      <img [src]="tool.imageSrc" [alt]="tool.name" />
      <p>{{ tool.name }}</p>
    </div>
  </div>
</div>
