<div class="skills-container">

    <h3> - My Skills - </h3>
    <h4>Languages</h4>
    <div class="skills-icons-in-row">
        <div class="skills-icon-name">
            <img src="images/html.png" alt="HTML">
            <p>HTML</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/css.png" alt="CSS">
            <p>CSS</p>
        </div>
        
        <div class="skills-icon-name">
            <img src="images/scss.webp" alt="SCSS">
            <p>SCSS</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/javascript.webp" alt="JavaScript">
            <p>JavaScript</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/php.png" alt="PHP">
            <p>PHP</p>
        </div>
        
        <div class="skills-icon-name">
            <img src="images/typescript.png" alt="Typescript">
            <p>Typescript</p>
        </div>
        
        <div class="skills-icon-name">
            <img src="images/java.png" alt="Java">
            <p>Java</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/python.png" alt="Python">
            <p>Python</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/c++.png" alt="C++">
            <p>C++</p>
        </div>
        
        <div class="skills-icon-name">
            <img src="images/mysql.png" alt="MySQL">
            <p>MySQL</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/postgresql.png" alt="PostgreSQL">
            <p>PostgreSQL</p>
        </div>
    </div>

    <h4>Tools & Framework</h4>
    <div class="skills-icons-in-row">
        <div class="skills-icon-name">
            <img src="images/firebase.png" alt="Firebase">
            <p>Firebase</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/aws.png" alt="AWS">
            <p>AWS</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/github.png" alt="GitHub">
            <p>GitHub</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/vscode.png" alt="Visual Studio Code">
            <p>Visual Studio Code</p>
        </div>
        
        <div class="skills-icon-name">
            <img src="images/appsscript.png" alt="Apps Script">
            <p>Apps Script</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/androidstudio.webp" alt="Android Studio">
            <p>Android Studio</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/angular.webp" alt="Angular">
            <p>Angular</p>
        </div>
        
        <div class="skills-icon-name">
            <img src="images/React.webp" alt="React Native">
            <p>React Native</p>
        </div>

        <div class="skills-icon-name">
            <img src="images/nodejs.png" alt="NodeJS">
            <p>NodeJS</p>
        </div>
        
    </div>
    
</div>